<mat-toolbar>
  <h1><a id="homeButton" routerLink="/">Wiki Courses</a></h1>
  <span class="linkSection">
    <ul id="linkList">
      <li *ngIf="userIsAuthenticated">
        <a class="headerLink middleLink logout" (click)="onLogout()">Logout</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a
          class="headerLink middleLink signup"
          routerLink="/auth/signup"
          routerLinkActive="activeLink"
          >Signup</a
        >
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a
          class="headerLink middleLink login"
          routerLink="/auth/login"
          routerLinkActive="activeLink"
          >Login</a
        >
      </li>
      <li *ngIf="userIsAuthenticated">
        <a class="headerLink middleLink new-course" (click)="newCourse()">New Course</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a
          class="headerLink middleLink account"
          routerLink="/account"
          routerLinkActive="activeLink"
          >Account</a
        >
      </li>
      <li>
        <a class="headerLink about" routerLink="/about" routerLinkActive="activeLink"
          >About</a
        >
      </li>
    </ul>
  </span>
</mat-toolbar>
