:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

input {
  margin-bottom: 1rem;
  display: flex;
}

label {
  display: flex;
  font-size: 14px;
}
