<editor
  apiKey="7k3seke8d5lvwg06c61o7mlp4epjtaea6njmpot05946xlyc"
  [init]="{
    height: 500,
    menubar: 'file edit insert view format table tools help',
    image_upload_url: 'http://localhost:3000/api/images',
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste imagetools wordcount'
    ],
    toolbar:
      'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    content_style:
      'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
  }"
></editor>
