#topicMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0px;
}

a {
  width: 100%;
}

button {
  width: 100%;
}

.activeLink {
  background-color: rgb(195, 211, 230);
}
