html {
  height: 100%;
}

.page {
  background-color: rgb(220, 220, 223);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  min-height: 200px;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(rgb(203,202,204), rgb(1,147,249));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
